<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<table class="table table-dark">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">GROUP_NAME</th>
        <th scope="col">DATE_OF_START</th>
        <th scope="col">DATE_OF_FINISH</th>
    </tr>
    </thead>
    <tbody>
    <tr th:object="${only_group}">

        <th th:text="${only_group.id}"></th>
        <td th:text="${only_group.groupName}"></td>
        <td th:text="${only_group.dateOfStart}"></td>
        <td th:text="${only_group.dateOfFinish}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>